# Manipulação de Banco de Dados com python

In [1]:
# Importar o módulo de acesso ao SQLite
import sqlite3

In [2]:
# Criar conexão com banco de dados.
# Se o banco de dados não existir, ele é criado neste momento. 
con = sqlite3.connect ('C:/Cientista de dados/Python/Manipulando banco de dados com python/escola.db')

In [3]:
type(con)

sqlite3.Connection

In [4]:
# Criando um cursor 
# Um cursor permite percorrer todos os registros no conjunto de dados. 
cur = con.cursor()

In [5]:
# Cria uma instrução SQL 

sql_create = 'create table Validando' \
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar (140))'

In [6]:
# Executando uma instrução SQL no cursor
cur.execute(sql_create)

In [7]:
# Criando INSERT
sql_insert = 'insert into Validando values(?, ?, ?)'

In [8]:
# Dados
recset = [(1000, 'Ciência de dados', 'Cientista de dados'),
         (1001, 'Big data fundamentos', 'Big Data'),
         (1002, 'Python', 'Analise de dados')]

In [9]:
# Inserindo registros. 

for rec in recset:
    cur.execute(sql_insert, rec)

In [10]:
# Gravar os dados
con.commit()

In [11]:
# criando SELECT
sql_select = 'select * from Validando'

In [12]:
# selecionar todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [13]:
# Mostra os dados
for linha in dados: 
    print('Curso ID %d, Titulo %s, categoria %s \n' %linha)

Curso ID 1000, Titulo Ciência de dados, categoria Cientista de dados

Curso ID 1001, Titulo Big data fundamentos, categoria Big Data

Curso ID 1002, Titulo Python, categoria Analise de dados

In [14]:
# Gerando outros registros
recset = [(1003, 'Gestão de dados', 'Big Data'),
         (1004, 'R fundamentos', 'Análise de dados')]

# Insert dos registros. 
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando os registros na tabela 
con.commit()

In [15]:
# Seleciona todos os registros
cur.execute('select * from Validando')

# Recupera os resultados 
recset = cur.fetchall()

# Mostra 
for rec in recset: 
    print('Curso ID %d, Titulo %s, categoria %s \n' %linha)

Curso ID 1002, Titulo Python, categoria Analise de dados

Curso ID 1002, Titulo Python, categoria Analise de dados

Curso ID 1002, Titulo Python, categoria Analise de dados

Curso ID 1002, Titulo Python, categoria Analise de dados

Curso ID 1002, Titulo Python, categoria Analise de dados

In [16]:
# fechar a conexão
con.close()