# Estrutura de dados - Listas

In [ ]:
# Criando listas, quando utilizado com uma única aspa, se torna um único elemento

Lista = ['Lucas, João, José, Paulo']
Lista

In [ ]:
# Criando outra lista, quando utilizado com mais de uma aspa, possuem vários elementos. 

Lista2 = ['Lucas', 'João', 'José', 'Paulo']
Lista2

In [ ]:
Lista[0]

In [ ]:
Lista2[0]

In [ ]:
Lista3 = [10, 1, "Teste"]
Lista3

In [ ]:
# Atribuir cada valor a uma variável. 
item1 = Lista2[1]
item2 = Lista2[0]
item3 = Lista2[3]
print(item1, item2, item3)

# Atualizando item de uma lista

In [ ]:
#Imprimir item da lista

Lista2[2]

In [ ]:
#Atualizar elemento da lista

Lista2[2] = 'Felipe'
Lista2

# Deletando item da lista

In [ ]:
# Deletar o item da lista
del Lista2[2]
Lista2

# Lista de listas (Listas aninhadas)

In [ ]:
Lista_aninhada = [[1,2,3], [4,5,6], [0,0.1,0.2]]
Lista_aninhada

In [ ]:
Lista_aninhada[0]

In [ ]:
#Atribuir item da lista a uma variável
a = Lista_aninhada[0]
a

In [ ]:
a[0]

In [ ]:
# Atribuir um elemento da variável 'a' para variável 'b'
b = a[0]
b

In [ ]:
c = Lista_aninhada[1]
c

# Operações com listas

In [ ]:
# Criando uma lista aninhada (lista de lista) 
Lista_aninhada = [[1,2,3], [4,5,6], [0,0.1,0.2]]
Lista_aninhada

In [ ]:
#retorna um elemento da lista [1] = linha, [2] = coluna, retorno = 6
a = Lista_aninhada[1][2]
a

In [ ]:
# Somar o valor com um dos elementos da linha. [2] = linha com o valor 0.1, [1] coluna com o valor 0.1, soma 10, result = 10.1
b = Lista_aninhada[2][1] + 10
b

# Concatenar listas

In [ ]:
# concatenar listas
Conc_lista = [a] + [b] 
Conc_lista

In [ ]:
# somar listas
Sum_lista = a + b
Sum_lista

# Operator in

In [ ]:
#Criar lista
Oper_lista = [100, 10, 0.5, 1.5, -2.5]
Oper_lista

In [ ]:
# Informa com true ou false se o valor existe na lista
print(10 in Oper_lista)

In [ ]:
print(150 in Oper_lista)

# Funções Built-in

In [ ]:
# Função retorna o número de elementos
len(Oper_lista)

In [ ]:
# Função retorna o maior valor da lista
max(Oper_lista)

In [ ]:
Nomes = ['Lucas', 'José', 'João']
Nomes

In [ ]:
# Adicionar elementos na lista
Nomes.append('Paulo')
Nomes

In [4]:
# Contar o número de elementos com o mesmo nome
Nomes.count('Paulo')

0

In [5]:
#Limpar as informações de uma variável
Nomes = []

In [6]:
type(Nomes)

list

In [8]:
Nomes.append('Lucas')
Nomes

['Lucas', 'Lucas']

In [9]:
Old_list = [1, 2, 2.0]
New_list = []

In [10]:
# Copiar itens de uma lista para outra
for Nomes in Old_list:
    New_list.append(Nomes)

In [11]:
New_list

[1, 2, 2.0]

In [17]:
# Cadastrar registros e acrescentar mais informações
Cidade = ['BH', 'SP', 'ES']
Cidade.extend (['RJ','AM'])
Cidade

['BH', 'SP', 'ES', 'RJ', 'AM']

In [16]:
Cidade.index('SP')

1

In [24]:
# Caso queria alterar alguma informação da lista. Ex.: Alterar o 'ES' para 'Vitória'. O valor '2' é qual linha, e após é a informação.
Cidade.insert (2, 'Vitória')
Cidade

['BH', 'SP', 'Vitória', 'ES', 'RJ', 'AM']

In [25]:
# Caso queira remover o elemento. 
Cidade.remove('Vitória')
Cidade

['BH', 'SP', 'ES', 'RJ', 'AM']

In [30]:
# Mostra a lista com os valores invertidos. 
Cidade.reverse()
Cidade

['AM', 'RJ', 'ES', 'SP', 'BH']

In [33]:
# Ordenar elementos, independente se for int ou string

Cidade.sort()
Cidade

['AM', 'BH', 'ES', 'RJ', 'SP']